/**Writing Area**/
@import url('https://fonts.googleapis.com/css2?family=Gotu&display=swap');
/**Code Writing**/
@import url('https://fonts.googleapis.com/css2?family=Cousine&family=Gotu&display=swap');
/**Heading**/
@import url('https://fonts.googleapis.com/css2?family=Gotu&family=Noto+Sans+JP:wght@500&display=swap');

/**********Hidden Menu**********/
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidebar a {
  padding: 8px 8px 8px 8px;
  text-decoration: none;
  font-size: 17px;
  color: #818181;
  display: block;
  transition: 0.5s;
  text-align: center
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.active {
	background-color: #212F3C;
    color: #F7F9F9;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  position: fixed;
}

.active, .openbtn:hover, .dropdown-btn:hover {
  background-color: #444;
}

#main {
  transition: margin-left .5s;
  padding: 0px 16px 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 30px;}
  .sidebar a {font-size: 18px;}
}

/******************Sub Navigator*******************/
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}